<section class="container-contato" id="Contato">
  <div class="imagem-principal">
    <img src="../../../assets/livres-para-adorar.png" alt="" />
  </div>
  <div class="content">
    <div class="text">
      <h2>E-mail</h2>
      <p>ola&#64;grandesite.com.br</p>
    </div>
    <div class="text">
      <h2>Telefone</h2>
      <p>(12) 3456-7890</p>
    </div>
    <div class="text">
      <h2>Social</h2>
      <img src="../../../assets/Instagram.png" alt="" />
      <img src="../../../assets/Message circle.png" alt="" />
    </div>
  </div>
</section>
