<section class="container-sobre" id="sobre">
  <div class="sobre">
    <div class="imagem"><img src="../../../assets/imagem 1 .png" alt="" /></div>
    <div class="texto">
      <h1 class="titulo">Música com Propósito: Capacitação para o Louvor</h1>
      <p>
        Desenvolva suas habilidades musicais e aprimore sua atuação no
        ministério de louvor. No workshop Música com Propósito: Capacitação para
        o Louvor, músicos e vocalistas terão a oportunidade de aprofundar
        conhecimentos em técnica vocal, teoria musical, prática instrumental e
        dinâmica de banda. Nosso objetivo é capacitar tecnicamente aqueles que
        desejam servir com excelência, unindo preparo musical à sensibilidade
        espiritual. Uma imersão para quem entende que adorar também é estudar,
        praticar e evoluir.
      </p>
    </div>
  </div>
</section>
